.block-photo {
  min-width: @mobile-width;
  margin: 20px auto;
  text-transform: uppercase;
  text-align: center;
}

.block-photo__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 100%;
}

.block-photo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 37px 25px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 60px 161px 86px;
    border: none;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 99px 382px 88px 380px;
  }
}

.block-photo__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.block-photo__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.block-photo__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
}

.block-photo__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0;
    flex-direction: row;
    margin: 0;
  }
}

.block-photo__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    width: 50%;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
    flex-grow: 1;
  }
}
