.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
}

.main-footer__hashtag {
  margin: 34px;
  padding: 0;
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
