// Colors
@white: #FFFFFF;
@black: #000000;
@grey-letter: #333333;
@blue: #81B3D2;
@grey-main: #EEEEEE;
@grey-form-catalog: #F2F2F2;
@grey-form-dark: #E6E6E6;
@blue-hover: #669EC0;
@blue-down: #5496BD;
@grey-disable: #E5E5E5;
